PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE alembic_version (
	version_num VARCHAR(32) NOT NULL, 
	CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);
INSERT INTO alembic_version VALUES('1568a36103ef');
CREATE TABLE customers (
	id INTEGER NOT NULL, 
	first_name VARCHAR(100) NOT NULL, 
	last_name VARCHAR(100) NOT NULL, 
	email VARCHAR(255), 
	phone VARCHAR(50), 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (email)
);
INSERT INTO customers VALUES(1,'Kunde1','Test1','kunde1@example.com','+43 660 000001','2025-12-17 19:01:57.788249');
INSERT INTO customers VALUES(2,'Kunde2','Test2','kunde2@example.com','+43 660 000002','2025-12-17 19:01:57.788249');
INSERT INTO customers VALUES(3,'Kunde3','Test3','kunde3@example.com','+43 660 000003','2025-12-17 19:01:57.788249');
CREATE TABLE products (
	id INTEGER NOT NULL, 
	sku VARCHAR(100), 
	name VARCHAR(255) NOT NULL, 
	base_price NUMERIC(10, 2) NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (sku)
);
INSERT INTO products VALUES(1,'P001','Produkt 1',11);
INSERT INTO products VALUES(2,'P002','Produkt 2',12);
INSERT INTO products VALUES(3,'P003','Produkt 3',13);
CREATE TABLE users (
	id INTEGER NOT NULL, 
	name VARCHAR(100) NOT NULL, 
	email VARCHAR(255) NOT NULL, 
	password_hash VARCHAR(255) NOT NULL, 
	role VARCHAR(30), 
	PRIMARY KEY (id), 
	UNIQUE (email)
);
INSERT INTO users VALUES(1,'Admin','admin@example.com','scrypt:32768:8:1$3y45Qip4zokdIvD1$daa3341a967cd34a1d841c0e1b34f03d628d61813b1683ff0da2f006f2fb4eb0ae6511500bd0b0abcbb887168103ca2b8365dc057ad382bd9847d8c975048c9b','Admin');
CREATE TABLE orders (
	id INTEGER NOT NULL, 
	customer_id INTEGER NOT NULL, 
	order_date DATETIME NOT NULL, 
	status VARCHAR(20), 
	total_amount NUMERIC(10, 2) NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(customer_id) REFERENCES customers (id)
);
INSERT INTO orders VALUES(1,1,'2025-10-27 20:01:57.792298','Bezahlt',123);
INSERT INTO orders VALUES(2,1,'2025-07-29 20:01:57.792298','Offen',99);
INSERT INTO orders VALUES(3,1,'2024-12-19 20:01:57.792298','Offen',64);
CREATE TABLE contacts (
	id INTEGER NOT NULL, 
	customer_id INTEGER NOT NULL, 
	channel VARCHAR(20) NOT NULL, 
	subject VARCHAR(255), 
	notes TEXT, 
	contact_time DATETIME NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(customer_id) REFERENCES customers (id)
);
INSERT INTO contacts VALUES(1,1,'E-Mail','Kontakt 0 mit Kunde1 Test1','Auto Seed','2025-10-26 20:01:57.792298');
INSERT INTO contacts VALUES(2,1,'Meeting','Kontakt 1 mit Kunde1 Test1','Auto Seed','2025-04-24 20:01:57.792298');
INSERT INTO contacts VALUES(3,1,'Telefon','Kontakt 2 mit Kunde1 Test1','Auto Seed','2025-09-02 20:01:57.792298');
CREATE TABLE order_items (
	id INTEGER NOT NULL, 
	order_id INTEGER NOT NULL, 
	product_id INTEGER NOT NULL, 
	quantity INTEGER NOT NULL, 
	unit_price NUMERIC(10, 2) NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(order_id) REFERENCES orders (id), 
	FOREIGN KEY(product_id) REFERENCES products (id)
);
INSERT INTO order_items VALUES(1,1,2,1,12);
INSERT INTO order_items VALUES(2,1,8,4,18);
INSERT INTO order_items VALUES(3,1,3,3,13);
COMMIT;
